<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title>
        MobileCaddy Starter App
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Just a small app to give some examples of using MobileCaddy in an Ionic v7 app
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
